In [139]:
import os
import FE_extData as FEex
import FE_innData as FEin
import numpy as np
import pandas as pd

In [216]:
import imp
imp.reload(FEin)
imp.reload(FEex)

In [157]:
import math

In [158]:
df['판매량'] = df['취급액'] / df['판매단가']
df['판매량'] = df['판매량'].fillna(0).apply(lambda x : math.ceil(x))

In [178]:
df = FEin.engineering_timeSeries(df)

In [183]:
df.to_excel('./test.xlsx')

In [184]:
df_eco = FEex.preprocessing_economy()

In [189]:
w_19 = pd.read_csv(os.path.join('..', '..', '0.Data', '03_외부데이터', '2019_weather.csv'), encoding = 'cp949')
w_20 = pd.read_csv(os.path.join('..', '..', '0.Data', '03_외부데이터', '2020_weather.csv'), encoding = 'cp949')
df_wth = pd.concat([w_19, w_20], axis = 0)

/Users/jinseok/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (26) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [193]:
df_wth = FEex.preprocessing_weather(df_wth)

In [194]:
df_wth

,지점,지점명,일시,기온(°C),풍속(m/s),습도(%),시정(10m),지면온도(°C),강수량(mm),체감온도,연도,월,일,시간
0,108,서울,2019-01-01 01:00:00,-5.9,1.8,56.0,1569.0,-6.5,NaN,-9.033953,2019,1,1,1
1,108,서울,2019-01-01 02:00:00,-6.5,1.2,60.0,1462.0,-7.1,NaN,-8.546246,2019,1,1,2
2,108,서울,2019-01-01 03:00:00,-6.9,2.2,62.0,1281.0,-7.3,NaN,-10.810783,2019,1,1,3
3,108,서울,2019-01-01 04:00:00,-7.2,1.2,57.0,1195.0,-7.5,NaN,-9.332063,2019,1,1,4
4,108,서울,2019-01-01 05:00:00,-7.6,2.1,59.0,1248.0,-7.8,NaN,-11.483797,2019,1,1,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
116923,159,부산,2020-08-31 19:00:00,25.2,3.9,72.0,1999.0,25.9,NaN,26.678550,2020,8,31,19
116924,159,부산,2020-08-31 20:00:00,24.8,3.7,72.0,2000.0,25.0,NaN,26.207584,2020,8,31,20
116925,159,부산,2020-08-31 21:00:00,24.6,3.4,71.0,2000.0,24.4,NaN,25.996145,2020,8,31,21
116926,159,부산,2020-08-31 22:00:00,24.5,3.2,74.0,2000.0,24.4,NaN,25.898661,2020,8,31,22
116927,159,부산,2020-08-31 23:00:00,24.5,3.4,73.0,2000.0,24.5,NaN,25.874799,2020,8,31,23

In [203]:
test = pd.read_excel(os.path.join('..', '..', '0.Data', '01_제공데이터', '수작업_meta.xlsx'))

In [204]:
test['성별'] = test['NEW상품명'].apply(lambda x : 1 if '남성' in x else (2 if '여성' in x else 0))

In [205]:
test.to_excel('./수작업_meta.xlsx', index = False)

In [212]:
df['방송년도'] = df['방송일시'].dt.year
df['방송월'] = df['방송일시'].dt.month
df['방송시간(시간)'] = df['방송일시'].dt.hour
df['방송시간(분)'] = df['방송일시'].dt.minute
df['판매량'] = df['취급액'] / df['판매단가']
df['판매량'] = df['판매량'].fillna(0).apply(lambda x : math.ceil(x))

In [209]:
temp = df.groupby(['상품군', '방송날'])['취급액'].sum().reset_index()

In [210]:
temp

     상품군         방송날          취급액
0     가구  2019-02-01  169247000.0
1     가구  2019-02-04  150677000.0
2     가구  2019-02-06  178832000.0
3     가구  2019-02-08  217876000.0
4     가구  2019-02-12  164505000.0
...   ..         ...          ...
3169  침구  2019-11-11   96350000.0
3170  침구  2019-11-13  108818000.0
3171  침구  2019-11-19  110848000.0
3172  침구  2019-11-21  122006000.0
3173  침구  2019-11-24  108289000.0

[3174 rows x 3 columns]

In [217]:
t = FEin.engineering_order(df)

In [219]:
t.columns

Index(['방송일시', '노출(분)', '마더코드', '상품코드', '상품명', '상품군', '판매단가', '취급액', 'NEW상품명',
       '브랜드', '상품명다시', '단위', '모델명', '성별', 'NS카테고리', 'NEW상품코드', 'NEW_최고판매단가',
       'NEW_최저판매단가', 'NEW_평균판매단가', 'NEW_중간판매단가', 'NEW_최고-최저', 'NEW_분산',
       'NEW_표준편차', '상품군_최고판매단가', '상품군_최저판매단가', '상품군_평균판매단가', '상품군_중간판매단가',
       '상품군_최고-최저', '상품군_표준편차', '상품군_분산', '마더코드_최고판매단가', '마더코드_최저판매단가',
       '마더코드_평균판매단가', '마더코드_최고-최저', '마더코드_분산', '마더코드_표준편차', '판매량', 'ema_s',
       'ema_m', 'ema_l', 'macd', 'sig', 'rol14', 'rol30', '방송날', '방송년도', '방송월',
       '방송시간(시간)', '방송시간(분)', '상품군별월별평균판매량', '상품군별시간대별평균판매량', '상품군별시간분별평균판매량',
       '할인율'],
      dtype='object')

In [220]:
dust_2019 = pd.read_csv(os.path.join('..', '..', '0.Data', '03_외부데이터', '2019_dust.csv'), encoding = 'cp949')

In [221]:
dust_2019

,지역,망,측정소코드,측정소명,측정일시,SO2,CO,O3,NO2,PM10,PM25,주소
0,서울 중구,도시대기,111121,중구,2019010101,0.003,0.7,0.003,0.054,39.0,24.0,서울 중구 덕수궁길 15
1,서울 중구,도시대기,111121,중구,2019010102,0.003,0.8,0.002,0.056,38.0,27.0,서울 중구 덕수궁길 15
2,서울 중구,도시대기,111121,중구,2019010103,0.003,0.9,0.002,0.057,42.0,28.0,서울 중구 덕수궁길 15
3,서울 중구,도시대기,111121,중구,2019010104,0.003,0.8,0.002,0.054,42.0,31.0,서울 중구 덕수궁길 15
4,서울 중구,도시대기,111121,중구,2019010105,0.003,0.8,0.002,0.048,49.0,33.0,서울 중구 덕수궁길 15
...,...,...,...,...,...,...,...,...,...,...,...,...
3957124,인천 옹진군,도시대기,831493,영흥,2019123120,0.003,0.1,0.035,0.003,13.0,NaN,인천광역시 옹진군 영흥면 영흥로251번길 90
3957125,인천 옹진군,도시대기,831493,영흥,2019123121,0.003,0.1,0.034,0.004,11.0,NaN,인천광역시 옹진군 영흥면 영흥로251번길 90
3957126,인천 옹진군,도시대기,831493,영흥,2019123122,0.003,0.1,0.033,0.005,14.0,NaN,인천광역시 옹진군 영흥면 영흥로251번길 90
3957127,인천 옹진군,도시대기,831493,영흥,2019123123,0.003,0.2,0.031,0.006,14.0,NaN,인천광역시 옹진군 영흥면 영흥로251번길 90
3957128,인천 옹진군,도시대기,831493,영흥,2019123124,0.003,0.2,0.026,0.010,16.0,NaN,인천광역시 옹진군 영흥면 영흥로251번길 90

In [223]:
from tqdm import tqdm

In [224]:
dust = pd.DataFrame()
for i in tqdm(range(1, 6)):
    temp = pd.read_excel(os.path.join('..', '..', '0.Data', '03_외부데이터', '2020_dust', '2020년 {}월.xlsx'.format(i)))
    dust = pd.concat([dust, temp], axis = 0)

100%|██████████| 5/5 [03:11<00:00, 38.35s/it]

In [226]:
dust.to_csv('2020_dust.csv', index = False, encoding = 'cp949')

In [234]:
w_19 = pd.read_csv(os.path.join('..', '..', '0.Data', '03_외부데이터', '2019_weather.csv'), encoding = 'cp949', dtype='unicode')
w_20 = pd.read_csv(os.path.join('..', '..', '0.Data', '03_외부데이터', '2020_weather.csv'), encoding = 'cp949', dtype='unicode')
df_wth = pd.concat([w_19, w_20], axis = 0)

In [236]:
df_wth

,지점,지점명,일시,기온(°C),기온 QC플래그,강수량(mm),강수량 QC플래그,풍속(m/s),풍속 QC플래그,풍향(16방위),...,최저운고(100m ),시정(10m),지면상태(지면상태코드),현상번호(국내식),지면온도(°C),지면온도 QC플래그,5cm 지중온도(°C),10cm 지중온도(°C),20cm 지중온도(°C),30cm 지중온도(°C)
0,98,동두천,2019.1.1 1:00,-10.5,0,NaN,NaN,1.6,NaN,20,...,NaN,1242,NaN,NaN,-8.4,0,NaN,NaN,NaN,NaN
1,98,동두천,2019.1.1 2:00,-10.8,0,NaN,NaN,1,NaN,360,...,NaN,1103,NaN,NaN,-8.8,0,NaN,NaN,NaN,NaN
2,98,동두천,2019.1.1 3:00,-11,0,NaN,NaN,0.6,NaN,110,...,NaN,1341,NaN,NaN,-9,0,NaN,NaN,NaN,NaN
3,98,동두천,2019.1.1 4:00,-11.6,0,NaN,NaN,0.3,NaN,0,...,NaN,1370,NaN,NaN,-9.3,0,NaN,NaN,NaN,NaN
4,98,동두천,2019.1.1 5:00,-11.6,0,NaN,NaN,0.7,NaN,50,...,50,1235,NaN,NaN,-9.3,0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81979,203,이천,2020-08-31 19:00,26.6,NaN,NaN,NaN,1.9,NaN,160,...,12,2000,NaN,NaN,27.7,NaN,NaN,NaN,NaN,NaN
81980,203,이천,2020-08-31 20:00,26.1,NaN,NaN,NaN,1.9,NaN,140,...,11,2000,NaN,NaN,27.2,NaN,NaN,NaN,NaN,NaN
81981,203,이천,2020-08-31 21:00,25.4,NaN,NaN,NaN,1.6,NaN,110,...,13,2000,NaN,NaN,26.8,NaN,NaN,NaN,NaN,NaN
81982,203,이천,2020-08-31 22:00,24.9,NaN,NaN,NaN,1.7,NaN,110,...,13,2000,NaN,NaN,26,NaN,NaN,NaN,NaN,NaN
81983,203,이천,2020-08-31 23:00,24.8,NaN,NaN,NaN,1.9,NaN,140,...,22,2000,NaN,NaN,25.9,NaN,NaN,NaN,NaN,NaN